<nav id="mainnav">
    <!-- <p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p> -->
    <div class="panel">
        <ul *ngFor="let menu of menus" id="nav">
            <li>
                <a href="{{menu}}">{{menu}}</a>
            </li>
        </ul>
    </div>
</nav>
<div class="intro">
    <p>
        死<br>
        生命の最期のエネルギーの放出<br>
        死には美しさと儚さがある<br>
        同時に怒りや後悔がある<br>
        死の先に自分がいない<br>
        死と向き合うことは同時に生と向き合うこと<br>
        <br>
        太宰治の人間失格の中に悲劇名詞と喜劇名詞が出てくる<br>
        名詞を悲劇名詞と喜劇名詞にわける遊び<br>
        死は喜劇名詞である<br>
    </p>
</div>
<ul id="gallery">
    <li><img src="/assets/img/death/death1.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/death/death2.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/death/death3.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/death/death4.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/death/death5.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/death/death6.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/death/death7.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/death/death8.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/death/death9.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
</ul>