<nav id="mainnav">
    <!-- <p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p> -->
    <div class="panel">
        <ul *ngFor="let menu of menus" id="nav">
            <li>
                <a href="{{menu}}">{{menu}}</a>
            </li>
        </ul>
    </div>
</nav>
<div class="intro">
    <p>
        退廃<br>
        世紀末芸術が起因となり退廃的なものは芸術になった<br>
        廃れていくもの、人、心情、全てを表現し、美しくする<br>
        <br>
        時の経過と自身の腐敗<br>
        感情の矛盾や美醜の価値観の再構成<br>
        <br>
        それにより生まれる強い負のエネルギーを感じる<br>
        怒りや恐怖、不安等の感情<br>
        その中に少しの寂しさを感じる<br>
        寂しさは何に対しても紐づいている<br>
        寂しさを寂しさとしてではなく安心感に昇華させる<br>
    </p>
</div>
<ul id="gallery">
    <li><img src="/assets/img/decadance/decadance1.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/decadance/decadance2.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/decadance/decadance3.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/decadance/decadance4.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/decadance/decadance5.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/decadance/decadance6.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/decadance/decadance7.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/decadance/decadance8.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/decadance/decadance9.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
</ul>