<nav id="mainnav">
    <!-- <p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p> -->
    <div class="panel">
        <ul *ngFor="let menu of menus">
            <li>
                <a href="{{menu}}">{{menu}}</a>
            </li>
        </ul>
    </div>
</nav>
<div class="intro">
    <p>
        自身の脳の中を覗く<br>
        何からインスピレーションを受け<br>
        何に心を動かすのか<br>
        クリエイションの根源は何か<br>
        私を形成する世界<br>
    </p>
</div>
<ul id="gallery">
    <li><a href="monochrome"><img src="/assets/img/monochrome.png" width="426" height="418" alt=""></a></li>
    <li><a href="decadance"><img src="/assets/img/decadance.png" width="426" height="418" alt=""></a></li>
    <li><a href="solitude"><img src="/assets/img/solitude.png" width="426" height="418" alt=""></a></li>
    <li><a href="masculine"><img src="/assets/img/masculine.png" width="426" height="418" alt=""></a></li>
    <li><a href="calm"><img src="/assets/img/calm.png" width="426" height="418" alt=""></a></li>
    <li><a href="death"><img src="/assets/img/death.png" width="426" height="418" alt=""></a></li>
</ul>