<section id="portfolio">
	<header>
		<h2><span>Gallery</span></h2>
	</header>
	<ul id="gallery">
        <li><a href="dress"><img src="/assets/img/sentofthedeath.png" width="426" height="418" alt=""></a></li>
		<li><a href="finalPortfolio"><img src="/assets/img/final_collection.png" width="426" height="418" alt=""></a></li>
		<!-- <li><img src="/assets/img/commingsoon.jpeg" width="426" height="418" alt=""></li>
        <li><img src="/assets/img/commingsoon.jpeg" width="426" height="418" alt=""></li>
        <li><img src="/assets/img/commingsoon.jpeg" width="426" height="418" alt=""></li>
        <li><img src="/assets/img/commingsoon.jpeg" width="426" height="418" alt=""></li> -->
	</ul>
</section>