#portfolio{
    margin-top: 10%;
	padding: 0 !important;
}

#portfolio header{
	display: none;
}

#gallery li{
	float: left;
	width: calc(100%/3);
	line-height: 0;
}

#gallery img{
	width: 100%;
	height: auto;
}

