<!-- <header>
  <div>
    <ul *ngFor="let menu of menus">
      <li><a href="#" + {{menu}}>{{menu}}</a></li>
    </ul>
  </div>
	<div>
		<h1><img src="images/logo.png" width="142" height="80" alt="logo"></h1>
		<nav id="mainnav">
			<p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p>
			<div class="panel">
        <ul *ngFor="let menu of menus">
          <li><a href="{{menu}}">{{menu}}</a></li>
        </ul>
			</div>
		</nav>
	</div>
</header> -->
<!-- <app-top></app-top> -->
<app-header></app-header>
<router-outlet></router-outlet>
<app-contact></app-contact>