<nav id="mainnav">
    <!-- <p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p> -->
    <div class="panel">
        <ul *ngFor="let menu of menus" id="nav">
            <li>
                <a href="{{menu}}">{{menu}}</a>
            </li>
        </ul>
    </div>
</nav>
<div class="intro">
    <p>
        不安や哀愁、弱さや自信の無さ<br>
        自分が普段から感じ、外面に現れている感情<br>
        自己投影し、心が締め付けられる<br>
        少しの息苦しさと心地よさ<br>
        重さと軽快さ<br>
        感情の檻の中で静かに揺れ動く<br>
    </p>
</div>
<ul id="gallery">
    <li><img src="/assets/img/calm/calm1.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/calm/calm2.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/calm/calm3.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/calm/calm4.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/calm/calm5.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/calm/calm6.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/calm/calm7.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/calm/calm8.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/calm/calm9.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
</ul>