<nav id="mainnav">
    <!-- <p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p> -->
    <div class="panel">
        <ul *ngFor="let menu of menus" id="nav">
            <li>
                <a href="{{menu}}">{{menu}}</a>
            </li>
        </ul>
    </div>
</nav>
<div class="intro">
    <p>
        男臭さ<br>
        カウンターカルチャー、ノスタルジック、テーラード<br>
        反発や反抗、怒り、攻撃性<br>
        見栄と内情<br>
        直線と曲線<br>
        男臭さの根源は何処か<br>
        <br>
        私は男性の方が弱く脆いと常々思っている<br>
        それを隠す為、スーツを産み出した<br>
        自分を強く見せる手段として、<br>
        <br>
        歳を取ると余裕と諦めが染み出す<br>
        人としての弱さ、脆さを隠さない強さを持ち始める<br>
        弱さと脆さを肯定した先に出てくる男臭さ<br>
    </p>
</div>
<ul id="gallery">
    <li><img src="/assets/img/masculine/masculine1.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/masculine/masculine2.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/masculine/masculine3.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/masculine/masculine4.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/masculine/masculine5.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/masculine/masculine6.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/masculine/masculine7.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/masculine/masculine8.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/masculine/masculine9.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
</ul>