
<div class="consept">
    <p>カタルシス〜負の感情に寄り添う〜</p>
    <img src="/assets/img/main_1.png" alt="">
</div>
<div class="explanation">
    <div class="consept1">
        <p>服を通して感情の浄化<br>
            心の中に溜まっている感情の解放<br>
            不安や孤独の肯定<br>
            全てを受け入れ寄り添う
        </p>
    </div>
    <div class="image1">
        <img src="/assets/img/main_3.png" alt="">
    </div>
</div>

<div class="stability">
    <p>大丈夫<br>
        弱くても、脆くても<br>
        自分に自信が持てなくても<br>
        不安でも孤独でも<br>
        <br>
        ありのままの自分で<br>
        大丈夫
    </p>
    <img src="/assets/img/main_2.PNG" alt="">
</div>