<nav id="mainnav">
    <!-- <p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p> -->
    <div class="panel">
        <ul *ngFor="let menu of menus" id="nav">
            <li>
                <a href="{{menu}}">{{menu}}</a>
            </li>
        </ul>
    </div>
</nav>
<div class="intro">
    <p>
        モノクロ<br>
        複数の白と黒で構成された画像<br>
        少ない情報の中に様々な感情を孕んでいる<br>
        色の情報が少ない分、感情の機微に敏感になる<br>
        <br>
        どこか退廃的でノスタルジック<br>
        自身の懐古主義的側面を刺激する<br>
        これは現状に満足できず過去を羨望する為である<br>
        <br>
        深い闇を作り、時として強い光をつくる<br>
        逆も然りである<br>
        私は白と黒の狭間で色の探求を続ける<br>
    </p>
</div>
<ul id="gallery">
    <li><img src="/assets/img/monochrome/monochrome1.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/monochrome/monochrome2.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/monochrome/monochrome3.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/monochrome/monochrome4.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/monochrome/monochrome5.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/monochrome/monochrome6.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/monochrome/monochrome7.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/monochrome/monochrome8.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/monochrome/monochrome9.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
</ul>