<nav id="mainnav">
    <!-- <p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p> -->
    <div class="panel">
        <ul *ngFor="let menu of menus" id="nav">
            <li>
                <a href="{{menu}}">{{menu}}</a>
            </li>
        </ul>
    </div>
</nav>
<div class="intro">
    <p>
        孤独<br>
        選択的孤独<br>
        自己の否定と自己愛の両面を併せ持つ<br>
        俯き、情報を制御し、どこまでも墜ちていく<br>
        彩度を落とし、影を落とす<br>
        不安や焦燥を独りで抱え、独りで消化する<br>
        どこまででも墜ちていく<br>
        それにはどこか心地よさや滑稽さまで存在する<br>
        <br>
        希望を作り出すのでは無く、孤独に寄り添う<br>
        孤独を選択し、孤独に生きることを肯定する<br>
        そんな生き方を選んでも大丈夫<br>
    </p>
</div>
<ul id="gallery">
    <li><img src="/assets/img/solitude/solitude1.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/solitude/solitude2.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/solitude/solitude3.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/solitude/solitude4.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/solitude/solitude5.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/solitude/solitude6.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/solitude/solitude7.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/solitude/solitude8.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
    <li><img src="/assets/img/solitude/solitude9.png" width="426" height="418" alt="" onselectstart="return false;" onmousedown="return false;"></li>
</ul>